{
  "hosting": {
    "site": "project-id-led-cloudrun",
    "public": "dist",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ]
  },
  "firestore": [
    {
      "database": "demo",
      "rules": "firestore.rules",
      "indexes": "firestore.indexes.json"
    }
  ]
}
